wm-map-popover {
  ion-card {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 400px;
    z-index: 1;
  }
  .red {
    color: red;
  }
  .orange {
    color: orange;
  }
  .green {
    color: green;
  }
  .draw-path-alert {
    right: 230px;
    height: 40px;
    ion-card-content {
      line-height: unset;
    }
  }
}
