wm-map-popover {
  ion-card {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 400px;
    z-index: 1;
  }
  .red {
    color: red;
  }
  .orange {
    color: orange;
  }
  .green {
    color: green;
  }
  .draw-path-alert {
    right: 250px;
    height: 40px;
    min-width: unset;
    --background: antiquewhite;
    --color: black;
    ion-card-content {
      line-height: 16px;
    }
    .message {
      font-size: 16px;
    }
    a {
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
