map-page {
  .wm-map-container {
    height: 300px;
    margin: 10px;
  }
  .directive-container {
    margin-top: 10px;
  }
  a:hover {
    color: blue;
  }

  input:hover {
    color: blue;
  }

  button {
    margin: 5px;
    transition-duration: 0.3s;
  }

  button:hover {
    background-color: blue;
    color: white;
  }

  .inputs-outputs-container {
    display: flex;
    justify-content: space-between;
  }

  .inputs-container {
    flex: 1;
    padding-right: 10px;
  }

  .outputs-container {
    flex: 1;
    padding-left: 10px;
  }
}
