<div class="wm-map-container">
  <wm-map
    [wmMapConf]="confMAP$|async"
    wmMapTrack
    [track]="track$|async"
    [wmMapTrackColor]="wmMapTrackColor$|async"
    *ngIf="showMap$|async"
  ></wm-map>

  <div class="directive-container">
    <h2>
      <a href="http://doc.map-core.surge.sh/directives/WmMapTrackDirective.html" target="_blank">
        WmMapTrackDirective</a
      >
    </h2>
    <p>An example of how track are displayed on the map</p>
  </div>

  <div class="inputs-outputs-container">
    <div class="inputs-container">
      <h2>Inputs:</h2>

      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapTrackDirective.html#wmMapTrackColor"
          target="_blank"
        >
          wmMapTrackColor</a
        >
      </h3>
      <div class="hex-color">
        <p>
          For example copy and paste this hex color
          <button (click)="copyFromClipBoard('#f542d4')">#f542d4</button>
        </p>
        <input type="text" placeholder="Add your hex color" [(ngModel)]="trackColor" />
        <button (click)="addTrackColor()">Update</button>
      </div>
      <div class="select-color">
        <p>Select color</p>
        <button
          class="color-button color-orange"
          (click)="selectColor('#caaf15')"
          [class.selected]="selectedColor === '#caaf15'"
        ></button>
        <button
          class="color-button color-red"
          (click)="selectColor('#ff0000')"
          [class.selected]="selectedColor === '#ff0000'"
        ></button>
        <button
          class="color-button color-green"
          (click)="selectColor('#42f54b')"
          [class.selected]="selectedColor === '#00ff00'"
        ></button>
        <div></div>
      </div>

      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapTrackDirective.html#trackElevationChartElements"
          target="_blank"
        >
          trackElevationChartElements</a
        >
      </h3>
    </div>
  </div>
</div>
