<div class="wm-map-container">
  <wm-map
    [wmMapConf]="confMAP$|async"
    wmMapLayer
    [wmMapLayerDataLayerUrls]="dataLayerUrls$|async"
  ></wm-map>

  <div class="directive-container">
    <h2>
      <a href="http://doc.map-core.surge.sh/directives/WmMapLayerDirective.html" target="_blank">
        WmMapLayerDirective</a
      >
    </h2>
    <p>An example of how layer are displayed on the map</p>
  </div>

  <div class="inputs-outputs-container">
    <div class="inputs-container">
      <h2>Inputs:</h2>
      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapLayerDirective.html#jidoUpdateTime"
          target="_blank"
        >
          jidoUpdateTime</a
        >
      </h3>
      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapLayerDirective.html#wmMapLayerDataLayerUrls"
          target="_blank"
        >
          wmMapLayerDataLayerUrls</a
        >
      </h3>
      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapLayerDirective.html#wmMapLayerDisableLayers"
          target="_blank"
        >
          wmMapLayerDisableLayers</a
        >
      </h3>
      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapLayerDirective.html#
          wmMapLayerLayer"
          target="_blank"
        >
          wmMapLayerLayer</a
        >
      </h3>
      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapLayerDirective.html#
          wmMapLayerOpacity"
          target="_blank"
        >
          wmMapLayerOpacity</a
        >
      </h3>
    </div>

    <div class="outputs-container">
      <h2>Outputs:</h2>
      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapLayerDirective.html#colorSelectedFromLayerEVT"
          target="_blank"
        >
          colorSelectedFromLayerEVT</a
        >
      </h3>
      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapLayerDirective.html#trackSelectedFromLayerEVT"
          target="_blank"
        >
          trackSelectedFromLayerEVT</a
        >
      </h3>
    </div>
  </div>
</div>
