<div class="wm-map-container">
  <wm-map
    [wmMapConf]="confMAP$|async"
    [wmMapCustomTrackDrawTrack]="true"
    [wmMapCustomTrackDrawTrackHost]="'https://graphhopper.webmapp.it/'"
    (currentCustomTrack)="setCurrentCustomTrack($event)"
  ></wm-map>
  <div class="link-container">
    <a
      href="http://doc.map-core.surge.sh/directives/wmMapCustomTrackDrawTrackDirective.html"
      target="_blank"
      >Link documentation</a
    >
  </div>
  <p>
    Zoom in and choose where to create your track by clicking on the map. After creating a track
    view the console log for details
  </p>

  <div *ngIf="savedCustomTrack" class="saved-track-container">
    <h2>Custom Track:</h2>
    <p>Distance: {{ savedCustomTrack.properties.distance }} km</p>
    <p>Ascent: {{ savedCustomTrack.properties.ascent }} m</p>
    <p>Descent: {{ savedCustomTrack.properties.descent }} m</p>
    <button (click)="clearSavedCustomTrack()">Clear Saved Track</button>
  </div>
</div>
