<div class="layer-button" *ngIf="showButton$|async" (click)="toggle$.next(!toggle$.value)">
  <ion-icon name="layers-outline"></ion-icon>
</div>
<ion-content class="layer-content" [hidden]="toggle$|async">
  <ion-list lines="none">
    <ng-container *ngIf="conf.tiles|controlIsBtn as tiles">
      <ng-container *ngIf="tiles.length > 2">
        <ion-item *ngFor="let tile of tiles;let idx = index">
          <wm-map-button-control
            [wmMapButtonControl]="tile"
            [wmMapTranslationCallback]="translationCallback"
            [wmMapButtonControlSelect]="currentTileLayerIdx$.value === tile.id"
            (wmMapButtonContolClicked)="selectTileLayer($event)"
          ></wm-map-button-control>
        </ion-item>
        <ion-item-divider *ngIf="conf.data != null && conf.data.length > 0"></ion-item-divider>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="conf.data|controlIsBtn as datas">
      <ion-item *ngFor="let data of datas;let idx = index">
        <wm-map-button-control
          [wmMapButtonControl]="data"
          [wmMapTranslationCallback]="translationCallback"
          (wmMapButtonContolClicked)="selectDirective($event,data)"
          [wmMapButtonControlSelect]="currentDataIdx[idx]"
        ></wm-map-button-control>
      </ion-item>
      <ion-item-divider
        *ngIf="conf.overlays != null && conf.overlays.length > 0"
      ></ion-item-divider>
    </ng-container>
    <ng-container *ngIf="conf.overlays|controlIsBtn as overlays">
      <ion-item *ngFor="let overlay of overlays;let idx = index">
        <wm-map-button-control
          [wmMapButtonControl]="overlay"
          [wmMapTranslationCallback]="translationCallback"
          (wmMapButtonContolClicked)="selectOverlay($event,overlay)"
          [wmMapButtonControlSelect]="currentOverlayIdx$.value === overlay.id"
        ></wm-map-button-control>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
