left-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 90%;
  bottom: 0;
  border: 1px solid blue;
  background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.8), white);
  color: white;

  h1 {
    margin: 10px;
    font-family: 'Arial black', sans-serif;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    margin: 5px;
    width: -webkit-fill-available;
    height: 50px;
    transition-duration: 0.3s;
    border: none;
  }

  button:hover {
    background-color: blue;
    color: white;
    border: 1px solid orange;
  }

  .selected {
    background-color: orange;
    border: 2px solid blue;
  }
}
