app-root {
  .content {
    position: fixed;
    top: 0;
    right: 0;
    left: 10%;
    bottom: 0;
    border: 1px solid blue;
  }

  input:hover {
    color: blue;
  }

  button {
    margin: 5px;
    transition-duration: 0.3s;
  }

  button:hover {
    background-color: blue;
    color: white;
  }

  a {
    color: blue;
  }
}
