<div class="wm-map-container">
  <wm-map
    [wmMapConf]="confMAP$|async"
    wmMapPosition
    [wmMapPositioncurrentLocation]="wmMapPositioncurrentLocation$|async"
    [wmMapPositionfocus]="true"
  ></wm-map>

  <div class="directive-container">
    <h2>
      <a href="http://doc.map-core.surge.sh/directives/WmMapPositionDirective.html" target="_blank">
        WmMapPositionDirective</a
      >
    </h2>
    <p>
      An example of how your current position are displayed on the map (You need to allow access to
      your location)
    </p>
  </div>

  <div class="inputs-outputs-container">
    <div class="inputs-container">
      <h2>Inputs:</h2>

      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapPositionDirective.html#wmMapPositionCenter"
          target="_blank"
        >
          wmMapPositionCenter</a
        >
      </h3>

      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapPositionDirective.html#
          wmMapPositioncurrentLocation"
          target="_blank"
        >
          wmMapPositioncurrentLocation</a
        >
      </h3>

      <h3>
        <a
          href="http://doc.map-core.surge.sh/directives/WmMapPositionDirective.html#
          wmMapPositionfocus"
          target="_blank"
        >
          wmMapPositionfocus</a
        >
      </h3>
    </div>
  </div>
</div>
