custom-tracks-page {
  .wm-map-container {
    height: 300px;
    margin: 10px;
  }

  .directive-container {
    margin-top: 10px;
  }

  .inputs-outputs-container {
    display: flex;
    flex-direction: row;
  }

  .inputs-container {
    flex: 1;
    padding-right: 10px;
  }

  .outputs-container {
    flex: 1;
    padding-left: 10px;
    overflow-y: auto;
    height: 100vh;
  }
}
