<div [id]="wmMapTarget" class="map-container" #mapContainer>
  <canvas id="canvas"></canvas>
  <canvas id="ol-map" width="100" height="100"></canvas>
  <div #scaleLineContainer id="webmapp-map-scale-line-container"></div>
  <div id="webmapp-map-attribution-container">
    <div class="webmapp-map-attribution">
      <a class="wm-clickable webmapp-map-attribution-link" href="http://webmapp.it" target="blank">
        © Webmapp
      </a>
      <a
        class="wm-clickable webmapp-map-attribution-link"
        href="https://www.openstreetmap.org/about/"
        target="blank"
        >© OpenStreetMap
      </a>
    </div>
  </div>
  <div class="top-left">
    <ng-content select="[top-left]"></ng-content>
  </div>
  <div class="top-right">
    <wm-map-controls
      [conf]="(wmMapConf$|async)?.controls"
      [tileLayers]="tileLayers"
      [wmMapTranslationCallback]="translationCallback"
      (wmMapControlOverlay)="setOverlay($event)"
    ></wm-map-controls>
    <ng-content select="[top-right]"></ng-content>
  </div>
  <div class="bottom-right">
    <ng-content select="[bottom-right]"></ng-content>
  </div>
</div>
