<div class="map-container" #mapContainer>
  <canvas id="canvas"></canvas>
  <ng-container *ngIf="wmMapOnly=== false">
    <div #scaleLineContainer id="webmapp-map-scale-line-container"></div>

    <div id="webmapp-map-attribution-container" *ngIf="(wmMapConf$|async)?.attribution != false">
      <ng-container *ngIf="(wmMapConf$|async)?.attribution as attribution; else defaultAttribution">
        <div class="webmapp-map-attribution" [innerHtml]="attribution"></div>
      </ng-container>
      <ng-template #defaultAttribution>
        <div class="webmapp-map-attribution">
          <a
            class="wm-clickable webmapp-map-attribution-link"
            href="http://webmapp.it"
            target="blank"
          >
            © Webmapp
          </a>
          <a
            class="wm-clickable webmapp-map-attribution-link"
            href="https://www.openstreetmap.org/about/"
            target="blank"
            >© OpenStreetMap
          </a>
        </div>
      </ng-template>
    </div>
    <div class="top-left">
      <ng-content select="[top-left]"></ng-content>
    </div>
    <div class="top-right">
      <wm-map-controls
        [conf]="(wmMapConf$|async)?.controls"
        [tileLayers]="tileLayers"
        [wmMapTranslationCallback]="translationCallback"
        [wmMapControlClose]="wmMapCloseTopRightBtnsEVT$|async"
        (wmMapControlOverlay)="setOverlay($event)"
        (wmMapControlData)="toggleData($event)"
        (click)="wmMapCloseTopRightBtns = 'wm-map-controls'"
      ></wm-map-controls>
      <ng-content select="[top-right]"></ng-content>
    </div>
    <div class="bottom-right">
      <ng-content select="[bottom-right]"></ng-content>
    </div>
    <div class="bottom-center">
      <ng-content select="[bottom-center]"></ng-content>
    </div>
  </ng-container>
</div>
