wm-map {
  height: 100%;
  width: 100%;
  display: flex;

  .map-container {
    flex-grow: 1;
    height: 100%;
    position: relative;
    > .bottom-right {
      position: absolute;
      right: calc(16px + constant(safe-area-inset-right));
      right: calc(16px + env(safe-area-inset-right));
      bottom: 40px;
      display: inline-flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: center;
      z-index: 1;
      > *:not(:empty) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        margin-bottom: 10px;
      }
      ion-fab {
        position: relative;
        left: 0;
        top: 0;
      }
      ion-fab-button,
      .wm-btn-track-recording {
        height: 42px;
        width: 42px;
        margin: 7px 0px;
      }
    }
    > .bottom-center {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 40px;
      display: inline-flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: center;
      z-index: 2;
      > * {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        margin-bottom: 10px;
      }
      ion-fab {
        position: relative;
      }
      ion-fab-button,
      .wm-btn-track-recording {
        height: 42px;
        width: 42px;
        margin: 7px;
      }
    }
    > .bottom {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 4px;
      z-index: 2;
      display: inline-flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      > * {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        margin-left: 10px;
      }
    }
    > .top-right {
      position: absolute;
      right: calc(16px + constant(safe-area-inset-right));
      right: calc(16px + env(safe-area-inset-right));
      top: calc(16px + constant(safe-area-inset-top));
      top: calc(16px + env(safe-area-inset-top));
      z-index: 2;
      display: inline-flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      > *:not(:empty) {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        margin-left: 10px;
      }
    }
    > .top-left {
      position: absolute;
      left: 22px;
      top: constant(safe-area-inset-top, 30px); // for ios 11.1
      top: env(safe-area-inset-top, 30px); // for ios 11.2 and onwards
      z-index: 2;
      display: inline-flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      > * {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        margin-left: 10px;
      }
    }
    .ol-zoom {
      position: absolute;
      top: 50%;
      right: 20px;
      left: 16px;
      width: fit-content;
      height: auto;
      box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      overflow: hidden;

      button {
        margin: 0;
        height: 40px;
        width: 40px;
        font-size: 28px;

        &:hover,
        &:focus {
          outline: none;
        }
      }
    }
    #webmapp-map-scale-line-container {
      position: absolute;
      bottom: 11px;
      left: 0;
      width: 100px;
      z-index: 1;
    }
    #webmapp-map-attribution-container {
      position: absolute;
      bottom: 20px;
      right: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      border-radius: 5px;
      transition: bottom 500ms;
      z-index: 1;
      background: rgba(var(--wm-color-light-rgb), 0.75);
      box-shadow: -1px -1px 5px -3px var(--wm-color-dark);
      .webmapp-map-attribution {
        display: inline-block;
        font-size: var(--font-sm);
        .webmapp-map-attribution-link {
          color: var(--wm-color-dark);
          text-decoration: none;
        }
      }
    }
  }
  canvas {
    position: absolute;
  }
}
